target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.data
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
!/LOG_PATH_IS_UNDEFINED/app.log
/LOG_PATH_IS_UNDEFINED/app.log
classes/
device-control.properties
device-control.xml
module_device-control.xml
